body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#input-md {
    resize: none;
    width: 100%;
    outline: none;
    border:none;
    box-shadow:none;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}
#result-html {
    background-color: #f3f3f3;
    padding: 5pt;
}
.preview-container {
    overflow: auto;
}